body {
    background-color: bisque;
}

.foodList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.food-item {
    margin: 20px 15px;
    border: 1px brown solid;
    padding: 10px;
    width: 150px;
    
    
}